params {
    queue = 'nextflow-job-queue-for-cnest-jobs-gp3-optimised'
    region = 'eu-west-2'
}

executor {
    name = 'awsbatch'
}

aws {
    region = params.region
}

process {
    queue = params.queue
    cpus = params.cpus
    memory = params.memory
    disk = params.disk
    container = params.container
    maxForks = params.maxForks
    errorStrategy = params.errorStrategy
    maxRetries = params.maxRetries
    docker.enabled = true
}