params {
    project = "1kgp_subset_test"
    design = "${projectDir}/testdata/1kg_CEU_7_samples_subset.csv"
    bedgz = "${projectDir}/testdata/hg38.1kb.chr-19-22.baits.bed.gz"
    gender = "${projectDir}/testdata/gender_classification.txt"
    cov = "${projectDir}/testdata/hg38.1kb.chr-19-22-mean_coverage.txt"
}